.head{
  width: 200px;
  border: 2px solid violet;
}
.body{
  
  width: 200px;
  border: 2px solid rgb(41, 235, 51);
}
table{
  margin-top: 2rem;
  border: 1px solid black;
  padding: 1rem;
  text-align: center;
  /* margin-left: 5%; */
}
 
button{
  background-color: navy;
  color: white;
  border: none;
  padding: 4px 10px;
  font-size: 18px;
  border-radius: 3px;
  margin-left: 2rem;
  margin-top: 1rem;

}

.form{
  border: 1px solid black;
  margin: 2rem auto;
  width: 50%;
  height: 60vh;
  padding: 2rem;
  background-color: purple;
  color: white;
}
input{
  margin-bottom: 1rem;
}
.show{
  display: flex;
  justify-content: space-evenly;
}
form,h2{
  margin:0 1rem;
}