table thead tr th{
  margin: 2rem 5rem ;
  border: 2px solid red;
  padding: 2px 4px;
}
table{
  margin-top: 2rem;
  border: 1px solid black;
  padding: 1rem;
  margin-left: 35%;
}
 
button{
  background-color: navy;
  color: white;
  border: none;
  padding: 4px 10px;
  font-size: 18px;
  border-radius: 3px;
  margin-left: 2rem;
  margin-top: 1rem;

}

.form{
  border: 1px solid black;
  margin: 2rem auto;
  width: 50%;
  height: 60vh;
  padding: 2rem;
  background-color: purple;
  color: white;
}
input{
  margin-bottom: 1rem;
}
.show{
  display: flex;
}
form,h2{
  margin:0 1rem;
}